<!DOCTYPE html>
<html>
<head>
    <title> Fonteyn </title>
    <link rel="stylesheet" href="/static/stylesheet.css" type="text/css">

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/logo.png" class="logo">
            <ul>
                <li> <a href="/">Home pagina</a></li>
                <li> <a href="Aanvraag">Aanvraag</a></li>
                <li> <a href="Overons">Over Ons</a></li>           </ul>
        </div>   
        <div class="content">
             <h2>Fonteyn</h2>
             <p>Fonteyn Vakantieparken is een oer-Hollands familiebedrijf. 50 jaar geleden is Frits Fonteyn begonnen met een kleine camping in het zuiden van het land. In de loop der jaren heeft hij samen met zijn broers kleine vakantiehuisjes gebouwd op zijn land. De laatste 20 jaar heeft de familie diverse stukken land gekocht en zijn daarop kleine vakantieparken gaan bouwen. Tien jaar geleden hebben ze ook een aantal parken in Belgie en Duitsland opgezet en zijn ze begonnen om bestaande parken over te nemen.
                De dagelijkse leiding is nu in handen van zijn zoon en dochter.</p>
             <p>Organisatie
                Inmiddels is Fonteyn Vakantieparken uitgegroeid tot een internationale organisatie met een aantal afdelingen. In totaal heeft het concern 100 medewerkers op de loondienst staan maar zijn er in het hoogseizoen meer dan 300 mensen werkzaam voor de organisatie. Dat varieert van schoonmaak-, recreatie- en restaurantpersoneel tot functies die men niet strategisch acht zoals juristen en ICT personeel. Deze huurt men in of men werkt samen met business partners die deze diensten uitvoeren..</p>
        <div>
            


    </div>   





</body>
</html>