<!DOCTYPE html>
<html>
<head>
    <title> Fonteyn </title>
    <link rel="stylesheet" href="/static/stylesheet.css" type="text/css">

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/logo.png" class="logo">
            <ul>
                <li> <a href="/">Home pagina</a></li>
                <li> <a href="/Aanvraag">Aanvraag</a></li>
                <li> <a href="/Overons">Over Ons</a></li>        </ul>
        </div>   
        <div class="content">
             <h1> Please check ur email for your reservation conformation!</h1>

        </div>




    </div>   





</body>
</html>